# Dependencies
node_modules/
/node_modules
global-letters/node_modules/
global-letters/.next/
global-letters/.firebase/

# Next.js build output
.next/
out/

# Firebase
.firebase/
firebase-debug.log
ui-debug.log

# System Files
.DS_Store
.obsidian/
.trash/
Thumbs.db

# VS Code / IDE
.vscode-test/
*.vsix
preview.html

# Cache & Logs
.cache/
*.tmp
*.log

# Environment variables
.env
.env*.local

# Backup files
*.bak.*
